
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">Government Digital Service</span>
      <h1 class="govuk-heading-xl">D&S Delivery Framework</h1>


  <details class="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        What’s the context?
      </span>
    </summary>
    <div class="govuk-details__text">
      <h2 class="govuk-heading-m">Context</h2>
        <p>The Delivery Framework will help our teams deliver better services to users at less cost to the taxpayer. They will help people understand the value of their work. If we are more efficient then we can deliver even more value to users and taxpayers, which is something that everyone at GDS should aspire to do.</p>

        <p>The Framework will give us a more consistent (but not uniform) approach to common problems so can we solve them once and share our learnings. This will  make it faster and cheaper to get started on new things and easier for people to work on different things.</p>

        <p>This approach will also help us measure what we are delivering, to make sure we continue to receive the funding we need to do what we do now and want to do in the future.</p>

        <p>The Framework is a set of principles that takes the things we all do well already, others that are done well in some areas, and some things that are done well in different parts of government and other sectors.</p>

        <h2 class="govuk-heading-s">How this relates to other principles and standards</h2>

        <p>The Delivery Framework complements the Service Standard and Government Design Principles, it does not replace them. All delivery teams at GDS should be working to the Service Standard where appropriate already and the Design Principles are principles that can be applied to any type of work across GDS.</p>

        <p>The new Delivery Framework should only cover what isn’t already covered in the Service Standard or Design Principles. The Framework focuses more on organisational working than on services. For example it looks at things like the consistency between teams, demonstrating the value of a product, aligning work to the vision and strategy and team happiness.</p>

        <p>We shouldn’t just repeat the Service Standard or Design Principles, because we should already be working to them. This is an important thing to acknowledge.</p>
    </div>
  </details>

      
      <h2 class="govuk-heading-l" style="margin-top:60px; padding-top:30px; border-top:1px solid #bfc1c3;">1. Know which standards your work needs to meet and ensure that you’re meeting them</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>make sure you understand what your obligations are – depending on what product or service you are running you may need to be assessed against standards such as the Service Standard</li>
        <li>even if your work does not need to be assessed, you should still follow the Service Standard and guidance in the Service Manual where appropriate</li>
        <li>when building and operating software, make sure you’re following the standards in the GDS Way</li>
      </ul>

      <h2 class="govuk-heading-l">2. Understand what the user needs are and the value your work brings</h2> 
      <ul class="govuk-list govuk-list--bullet">
        <li>get to know your users through all channels available: research, feedback, data, analytics</li>
        <li>prioritise work based on the value it will bring to users and taxpayers</li>
        <li>ensure user needs are at the forefront throughout the delivery cycle</li>
        <li>release small changes frequently to unlock value and reduce risk</li>
        <li>identify, track and document the value you realise</li>
        <li>know and share your costs upwards</li>
      </ul>

      <h2 class="govuk-heading-l">3. Work at an ambitious yet sustainable pace</h2>
      <ul class="govuk-list govuk-list--bullet">
          <li>have a clearly articulated product vision and prioritised product roadmaps with defined expectations for each quarter</li>
          <li>iterate and don’t be afraid to be ambitious, make mistakes or change direction</li>
          <li>be realistic with deadlines and hit them – be honest when you don’t and understand why</li>
          <li>know where your pain points are and remove blockers where they exist</li>
          <li>deliver work that can be easily maintained and built upon by others</li>
      </ul>

      <h2 class="govuk-heading-l">4. Use data to guide your decision-making and delivery</h2>
      <ul class="govuk-list govuk-list--bullet">
          <li>have clear and understandable KPIs for your team’s delivery</li>
          <li>make it easy to monitor the health and performance of your systems</li>
          <li>consistently collect data and make it a key part of improving decision-making and team processes</li>
          <li>measure successes and failures and share widely</li>
          <li>know how much time you are spending supporting and operating your product</li>
          <li>understand where your technical debt exists and pay it off regularly</li>
          <li>measure the accuracy of your estimation in order to improve future estimates</li>
      </ul>


      <h2 class="govuk-heading-l">5. Solve problems once and re-use solutions</h2>
      <ul class="govuk-list govuk-list--bullet">
          <li>enable reuse and automate whenever possible</li>
          <li>be consistent with practices and outputs wherever possible</li>
          <li>minimise technical debt by using coding standards and integration patterns</li>
          <li>break down silos and foster collaboration amongst teams and communities</li>
          <li>make it better for everyone – share something if you think others teams would benefit from it</li>
      </ul>



      <h2 class="govuk-heading-l">6. Demonstrate how your work shapes the wider GDS vision</h2>
      <ul class="govuk-list govuk-list--bullet">
          <li>understand dependencies on other work elsewhere in GDS and wider government</li>
          <li>communicate as widely as possible the value of your work and the pain points, costs and blockers</li>
          <li>understand how departmental engagement could benefit your work</li>
          <li>work with the senior leadership team to help shape vision and strategy</li>
      </ul>


      <h2 class="govuk-heading-l">7. Make GDS a place where everyone can grow and develop</h2>
      <ul class="govuk-list govuk-list--bullet">
          <li>trust teams and colleagues to deliver</li>
          <li>build empowered, autonomous, diverse and respectful teams where every voice is heard</li>
          <li>look for opportunities for people to grow and develop</li>
          <li>remove barriers that keep colleagues from doing their jobs effectively</li>
          <li>give support to and share knowledge with colleagues</li>
          <li>encourage colleagues to be invested in the future of the organisation</li>
          <li>have fun</li>
      </ul>

    </div>
</div>

{% endblock %}
