
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        D&S Delivery Framework
      </h1>
      


      <h2 class="govuk-heading-l">1. Know which standards your work needs to meet and ensure that you’re meeting them</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>make sure you understand what your obligations are – depending on what product or service you are running you may need to be assessed against standards such as the Service Standard</li>
        <li>even if your work does not need to be assessed, you should still follow the Service Standard and guidance in the Service Manual where appropriate</li>
        <li>when building and operating software, make sure you’re following the standards in the GDS Way</li>
      </ul>

      <h2 class="govuk-heading-l">2. Understand what the user needs are and the value your work brings</h2> 
      <ul class="govuk-list govuk-list--bullet">
        <li>get to know your users through all channels available: research, feedback, data, analytics</li>
        <li>prioritise work based on the value it will bring to users and taxpayers</li>
        <li>ensure user needs are at the forefront throughout the delivery cycle</li>
        <li>release small changes frequently to unlock value and reduce risk</li>
        <li>identify, track and document the value you realise</li>
        <li>know and share your costs upwards</li>
      </ul>

      <h2 class="govuk-heading-l">3. Work at an ambitious yet sustainable pace</h2>
      <ul class="govuk-list govuk-list--bullet">
          <li>have a clearly articulated product vision and prioritised product roadmaps with defined expectations for each quarter</li>
          <li>iterate and don’t be afraid to be ambitious, make mistakes or change direction</li>
          <li>be realistic with deadlines and hit them – be honest when you don’t and understand why</li>
          <li>know where your pain points are and remove blockers where they exist</li>
          <li>deliver work that can be easily maintained and built upon by others</li>
      </ul>

      <h2 class="govuk-heading-l">4. Use data to guide your decision-making and delivery</h2>
      <ul class="govuk-list govuk-list--bullet">
          <li>have clear and understandable KPIs for your team’s delivery</li>
          <li>make it easy to monitor the health and performance of your systems</li>
          <li>consistently collect data and make it a key part of improving decision-making and team processes</li>
          <li>measure successes and failures and share widely</li>
          <li>know how much time you are spending supporting and operating your product</li>
          <li>understand where your technical debt exists and pay it off regularly</li>
          <li>measure the accuracy of your estimation in order to improve future estimates</li>
      </ul>


      <h2 class="govuk-heading-l">5. Solve problems once and re-use solutions</h2>
      <ul class="govuk-list govuk-list--bullet">
          <li>enable reuse and automate whenever possible</li>
          <li>be consistent with practices and outputs wherever possible</li>
          <li>minimise technical debt by using coding standards and integration patterns</li>
          <li>break down silos and foster collaboration amongst teams and communities</li>
          <li>make it better for everyone – share something if you think others teams would benefit from it</li>
      </ul>



      <h2 class="govuk-heading-l">6. Demonstrate how your work shapes the wider GDS vision</h2>
      <ul class="govuk-list govuk-list--bullet">
          <li>understand dependencies on other work elsewhere in GDS and wider government</li>
          <li>communicate as widely as possible the value of your work and the pain points, costs and blockers</li>
          <li>understand how departmental engagement could benefit your work</li>
          <li>work with the senior leadership team to help shape vision and strategy</li>
      </ul>


      <h2 class="govuk-heading-l">7. Make GDS a place where everyone can grow and develop</h2>
      <ul class="govuk-list govuk-list--bullet">
          <li>trust teams and colleagues to deliver</li>
          <li>build empowered, autonomous, diverse and respectful teams where every voice is heard</li>
          <li>look for opportunities for people to grow and develop</li>
          <li>remove barriers that keep colleagues from doing their jobs effectively</li>
          <li>give support to and share knowledge with colleagues</li>
          <li>encourage colleagues to be invested in the future of the organisation</li>
          <li>have fun</li>
      </ul>

    </div>
</div>

{% endblock %}
